aside {
  height: 100vh;
  position: fixed;
  width: 300px;
  background: white;
  border-right: 1px solid #e1e1e1;
  padding: 20px 15px;

  .logo {

    img {
      width: 100px;

    }
  }
}

.logo {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;

  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

li a {
  text-decoration: none;
  color: #252525;
  background: white;
  display: flex;
  font-size: 14px;
  gap: 15px;
  font-weight: 500;
  padding: 13px 20px;
  border-radius: 4px;
  transition: 0.1s ease-in-out;


  &:hover {
    background: #e5e5e5;
  }

  &.active {
    background: #e7e7e7;


  }
}

.user-card {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #e1e1e1;
  left: 0;
  padding: 16px;
}

ul {
  margin: 0;
  padding: 0;
}
