<div class="login-container">
  <div class="login-box">

    <img class="logo" src="assets/logo/logo.png">



    <h2>Bem-vindo à Gama</h2>
    <p *ngIf="error">
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Credenciais incorretas</strong>
      </ngb-alert>
    </p>
    <form (ngSubmit)="login()" [formGroup]="form">
      <div class="form-group">
        <label for="exampleInputEmail1">E-mail ou Usuário</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
  </div>

</div>

