<div class="component-header">
  <h2>Detalhes da ocorrência</h2>
</div>


<div class="container">

  <div class="btn-header mb-4">
    <button (click)="cancel()" class="btn-primary btn"><fa-icon icon="angle-left"></fa-icon>&nbsp; Voltar</button>
  </div>



  <div class="row justify-content-center">
    <div class="col-12" *ngIf="occurrence">

      <div class="card-body">
        <div class="row justify-content-center">

          <ngb-accordion class="col-12 entity-details" activeIds="panelEntity">
            <ngb-panel id="panelEntity">
              <ng-template ngbPanelTitle>
                <fa-icon [fixedWidth]="true" icon="list-alt"></fa-icon>
                &nbsp;
                <span>Detalhes</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row justify-content-center">
                  <dl class="col-12">
                    <dt><span>Id</span></dt>
                    <dd>{{ occurrence.id }}</dd>
                    <dt><span>Latitude</span></dt>
                    <dd>{{ occurrence.latitude }}</dd>
                    <dt><span>Longitude</span></dt>
                    <dd>{{ occurrence.longitude }}</dd>
                    <dt><span>Localização</span></dt>
                    <dd>{{ occurrence.location }}</dd>
                    <dt><span>Nome</span></dt>
                    <dd>{{ occurrence.name }}</dd>
                    <dt><span>Tipo</span></dt>
                    <dd>{{ occurrence.occurrenceType }}</dd>
                    <dt><span>Status</span></dt>
                    <dd>{{ occurrence.status }}</dd>
                    <dt><span>Urgência</span></dt>
                    <dd>{{ occurrence.occurrenceUrgencyLevel }}</dd>
                    <dt><span>Descrição</span></dt>
                    <dd>{{ occurrence.description }}</dd>
                  </dl>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>

  <div class="map" style="height: 300px; margin-bottom: 40px;" id="map" class="match-parent"></div>

</div>
