<div class="component-header">
  <h2>Detalhes do policial</h2>
</div>

<div class="container">
  <div class="btn-header mb-4">
    <button (click)="cancel()" class="btn-primary btn"><fa-icon icon="angle-left"></fa-icon>&nbsp; Voltar</button>
  </div>
  <div class="row justify-content-center">
    <div class="col-12" *ngIf="cop">

      <div class="card-body">
        <div class="row justify-content-center">

          <ngb-accordion class="col-12 entity-details" activeIds="panelEntity">
            <ngb-panel id="panelEntity">
              <ng-template ngbPanelTitle>
                <fa-icon [fixedWidth]="true" icon="list-alt"></fa-icon>
                &nbsp;
                <span>Detalhes do policial</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="row justify-content-center">
                  <dl class="col-12">
                    <dt><span>Id</span></dt>
                    <dd>{{ cop.id }}</dd>
                    <dt><span>Usuário</span></dt>
                    <dd>{{ cop.username }}</dd>
                    <dt><span>E-mail</span></dt>
                    <dd>{{ cop.email }}</dd>
                    <dt><span>Nome</span></dt>
                    <dd>{{ cop.firstName }}</dd>
                    <dt><span>Sobrenome</span></dt>
                    <dd>{{ cop.lastName }}</dd>
                    <dt><span>CPF</span></dt>
                    <dd>{{ cop.documentNumber }}</dd>
                  </dl>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
